@import './Responsive.module.scss';

.container {
  width: 70%;
  margin: 4rem auto;
  position: relative;
  height: 85vh;
  scroll-behavior: smooth;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 75%;
}

.usage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.h1 {
  font-size: 2rem;
}

.left {
  flex: 1.7;
  margin-right: 12rem;
}

.leftImg {
  flex: 1.7;
}

.text {
  font-size: 1.8rem;
  font-weight: 500;
}

.link {
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: underline;
  text-align: center;
  display: flex;
  transition: all 0.2s;
  &:hover {
    color: #cb4085;
  }
}

.right {
  flex: 1.5;
}
.rightText {
  flex: 1.5;
  margin-left: 4rem;
}

.topbar {
  width: 72vw;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem 10rem;
  text-align: center;
  align-items: center;
}

.logo {
  font-size: 4.5rem;
  font-weight: regular;
  cursor: pointer;
}

.topbarTaste {
  color: #cb4085;
}

.nav {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.linkNav {
  font-size: 1.75rem;
  font-weight: regular;
  text-transform: uppercase;
  margin-right: 1rem;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    color: #cb4085;
  }
}

.contactContainer {
  display: flex;
  justify-content: center;
  background-color: #cb4085;
  width: 75vw;
  height: 80vh;
  margin: 0 auto;
  margin-bottom: 5rem;
  border-radius: 20px;
}

.contact {
  width: 85%;
  height: 80%;
  border-radius: 25px;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.top {
  margin-top: 2rem;
  flex: 1;
}

.contactText {
  font-size: 2rem;
  color: white;
}

.bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 6;
}

.leftContact {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 4rem;
}
.inputSmall {
  font-size: 1.2rem;
  width: 70%;
  height: 3rem;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0.8rem;
  &:focus {
    outline: none;
  }
}

.inputBig {
  font-size: 1.2rem;
  width: 70%;
  height: 8rem;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  text-align: start;
  resize: none;
  border-radius: 10px;
  padding: 0.8rem;
  font-family: 'Roboto', sans-serif;
  &:focus {
    outline: none;
  }
}

.submit {
  width: 30%;
  height: 2.4rem;
  outline: none;
  font-weight: 400;
  font-size: 1.2rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background: #fff;
  transition: all 0.3s;

  &:hover {
    border-radius: 20px;
  }
}

.rightContact {
  flex: 1;
  margin-right: 1rem;
}

@media screen and (max-width: 800px) and (max-height: 1000px) {
  .topbar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
    text-align: center;
    position: relative;
  }

  .logoLink {
    font-size: 3rem;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .linkNav {
    color: black;
    font-size: 1rem;
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    margin: 8rem 0;
  }

  .left {
    flex: 1;
    width: 100%;
    margin-left: 12rem;
  }

  .right {
    flex: 1;
  }

  .text {
    font-size: 1.7rem;
  }

  .link {
    font-size: 1rem;
    display: flex;
    align-items: center;
  }

  .container {
    position: relative;
  }

  .usage {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 100%;
    margin: 0 auto;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .leftImg {
    flex: 3;
  }

  .rightText {
    flex: 1;
  }

  .h1 {
    font-size: 1.5rem;
    margin: 2rem auto;
  }

  .contactContainer {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0;
    margin: 0;
    margin-top: 15rem;
  }

  .contactText {
    font-size: 1.5rem;
    margin: 2rem auto;
    color: white;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border-radius: 0;
    height: 100%;
    margin: 0 2rem;
  }

  .leftContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem 0 0;
    margin-bottom: 0.3rem;
  }

  .inputBig,
  .inputSmall {
    width: 100%;
  }

  .submit {
    height: 2.2rem;
    font-size: 1rem;
    color: black;
  }
}
